* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    background-color: white;  
    margin-top: 20px;
}

main {
    margin-left: 10px;
    padding: 20px;
}

#nav-bar {
    position: fixed;
    top: 0!important;
    width: 100%;
    background-color: rgb(246, 250, 249);   
    text-align: center;
    margin: auto;
    padding: 2px;
}

#search-bar {
    margin-top: 15px;
    width: 40%;
    padding: 4px;
}

#search-button {
    margin-left: -4px;
    padding: 4px;
    cursor: pointer;
}

.video-preview{
    height: 100px;
    width: 190px;   
}

.flex-container{
    width: 100%;
    margin: 70px 20px 0 0;
}

.flex-container-aside{
    /* align-items: stretch;
    float: right; */
    width: 100%;
    margin: 70px 15px 0 0;
}

 #video-description{  
    border-bottom: solid 1px  rgb(12, 12, 11) ;  
    border-top: solid 1px  rgb(12, 12, 11) ; 
    margin-top: 20px; 
}

#video-text{
    margin-left: 63px;
}

#video {
    width: 68vw;
}

li, a, i {
    list-style: none;
}

#autoplay-section{
    margin-bottom: 25px;
}

.fa-toggle-on {
    color: rgb(66, 66, 242);
    cursor: pointer;
}

#video-details {
    margin: 15px 0 15px 0;
   
}

 #video-title {
    font-size: 24px;
    cursor: pointer;
}

h4 {
    margin-top: 10px;
}

.user-picture{
    height: 40px;
    width: 40px;
    border-radius: 2%;
    display: inline block;
}

.fa-icon-styling{
    margin: 0 8px 0 8px;
    color: rgb(85, 85, 83);
}

#user-details {
    margin: 10px 0 10px 0;
    width: 20%;
    cursor: pointer;
}

#user-text {
    float: right;
    position: inherit;
    margin : 0 0 0 -10px;    
    /* margin: -7px 2px 0 2px; */   
}

#comments {
    margin-top: 10px;
}

#description-buttons {
   margin-top: -50px;
}

.video-button {
    padding: 8px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

#sub-button {
    color: white;
    background-color: rgb(215, 50, 50);
    border: rgb(215, 50, 50) solid 1px;
}

#join-button {
    color: royalblue;
    border: royalblue solid 1px;
    background-color: white;
}

.aside-video-text{    
     display: inline-block;      
     position: inherit;
     /* margin-left: 10px; */
}

#next-video{
  
  border-bottom: 1px solid black;
    
}

.aside-box{
    margin: 5px 0 5px 0;
    cursor: pointer;
    
}

#second-video{
    margin-top: 10px;
}

#home-logo {
    width: 77px;
    height: 48px;
    margin-top: 5px;
}

.aside-video-text:hover {
    text-decoration: underline;
}

#next-video {
    cursor: pointer;
}

#show-more {
    cursor: pointer;
    color: rgb(116, 113, 113);
    font-weight: bolder;
}
.fa-thumbs-down, .fa-thumbs-up {
    border-bottom: gray 4px solid;
    padding: 1px;
}


    
.views-style{
    color: rgb(116, 113, 113);
    font-weight: lighter;
}