* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    background-color: rgb(225, 226, 228);  
    margin-top: 20px;
}

main {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    padding-top:  10px;
}

#nav-bar {
    position: fixed;
    top: 0!important;
    width: 100%;
    padding: 1px;
    background-color: rgb(246, 250, 249);   
   
}

#search-bar {
    display: flex;
    text-align: center;
    margin: auto 0; 
}


.video-preview{
    height: 100px;
    width: 190px;   
    
}

.flex-container{
    /* align-items: stretch;
    float: left; */
    width: 100%;
    margin: 100px 20px 0 0;
}

.flex-container-aside{
    /* align-items: stretch;
    float: right; */
    width: 100%;
    margin-top: 100px;
}

#video-buttons {
    
    border-bottom: 1px rgb(12, 12, 11) solid;
}

#video-description{
    border-bottom: 1px rgb(12, 12, 11) solid;
}
}

#video {
    width: 75vw;
}

li, a, i {
    list-style: none;
}

.sidebar-left{
   
   float: left;
}

.sidebar-right{
   
   float: right;
}

#autoplay-section{
    margin-bottom: 25px;
}